.App {
  width: 100vh;
  height: 100vh;
}

.sidebar{
  /* height: 100%; */
  width: 250px;
  background-color: #f8f8f8;
}

.my-sidebar-list{
  height: auto;
  padding: 0;
  width: 110%;
}

.my-sidebar-list .my-sidebar-item {
  width: 90%; 
  height: 55px;
  margin-top: 10px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 5px 7px 7px rgb(189, 188, 188);
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.my-sidebar-list .my-sidebar-item:hover{
  cursor: pointer;
  background-color:rgb(239, 160, 75);
}

.my-sidebar-list #active{
  background-color: rgb(205, 205, 206);
}

.my-sidebar-item #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.my-sidebar-item #title{
  flex: 70%;
}