.main-content{
    background-image: url(./assets/img/wanderlust_by_erisiar_ddzdf96-fullview.jpg);
    
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0px; 
      
      background-position: center; /* Center and scale the image nicely */
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 100%;
      min-height: 100%;
  
      
      /* background-position: top;
      min-height: 100%;
      height: 100vh;
      position: relative;  */
  }
  
  /* html, body, .main-content {
    height: 100%;
    margin: 0;
  } */
  
  .nav-bar{
    padding-left: 15rem;
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }