@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rightside {
    @apply flex flex-col w-4/5 h-full px-8 pt-4;
  }
  .navbar {
    @apply w-full h-10;
  }
  .inrow {
    @apply flex flex-row;
  }
  .incol {
    @apply flex flex-col;
  }
  .sidebar {
    @apply w-1/5 h-screen bg-simple pl-8 pt-4 pr-5 ring-2 ring-gray-200;
  }

  .user-sidebar {
    @apply w-3/12 h-screen bg-simple pl-8 pt-4 pr-5;
  }

  .organ {
    @apply text-xs ml-4 mt-8 mb-2 text-gray-400 uppercase;
  }

  .side-menu-text {
    @apply text-lg ml-2 mb-10;
  }

  .side-menu-stack {
    @apply flex flex-row h-11 pt-2 pl-2 pb-2 rounded-xl mt-3 
        hover:bg-see hover:text-gray-50 hover:shadow-coldblue 
        active:bg-blue-800;
  }

  .img-stack {
    @apply w-6 h-6 ml-1;
  }

  .content {
    @apply w-4/5 bg-black;
  }

  /* Product Details & Admin Edit Product */
  .images-gall {
    @apply mt-10 flex flex-row px-2;
  }

  .small-image-gallery {
    @apply h-28 w-32  rounded-sm p-1;
  }

  /* Landing */
  .header-text {
    @apply uppercase text-sm text-white text-opacity-75 font-sans;
  }

  /* Create Product */
  .radio-input {
    @apply px-2 py-1 rounded-lg flex justify-center items-center text-3xl lg:text-5xl font-bold w-10 h-10 lg:w-14 lg:h-14;
  }
  .radio input ~ label {
    /* background-color: rgb(233, 225, 225); */
    color: rgb(158, 146, 146);
  }
  .radio input:checked ~ label {
    background-color: rgb(70, 230, 22);
    color: white;
  }

  /* Navbar User */
  .usericon:hover .usericon-menu {
    display: block;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
