body {
  background: url("https://images.pexels.com/photos/1037993/pexels-photo-1037993.jpeg?auto=compress&cs=tinysrgb&h=1080&w=1920")
    no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.my-modal {
  will-change: opacity;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: rgba(#111, 0.35);
  /* // animation part */
  transition: all 500ms;
  opacity: 0;
}

.my-modal__content {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 6px;
  background: rgba(#fff, 0.8);
  box-shadow: 2px 3px 20px rgba(#333, 0.4);

  /* // animation part */
  transition: all 500ms;
  transform: translateY(-40%);
  opacity: 0;
}

.my-modal--show {
  opacity: 1;
}

.my-modal__content {
  transform: translateY(0);
  opacity: 1;
}

.modal-form {
  text-align: left;
  width: 80vw;
  padding: 20px 25px;

  /* // for bigger screen */
  @media screen and (min-width: 720px) {
    padding-right: 40px;
    padding-left: 40px;
    width: 60vw;
  }

  /* // fix label in bootstrap */
}
label {
  width: 100%;
}

.welcome-message {
  padding: 20px 40px;
  width: 80vw;
  /* // for bigger screen */
  @media screen and (min-width: 720px) {
    width: 60vw;
  }
}
